.flexfrm {
    position: relative;
    display: flex;
    align-items: stretch;

    .flex-item {
        flex: 1;
    }

    .flex-item-1 {
        flex: 0 0 auto;
    }

    .flex-item-aside {
        flex: 0 0 $aside-width;
    }

    .flex-center {
        display: flex;
        align-items: center;
    }

    .flex-justify-center {
        position: relative;
        display: flex;
        justify-content: center;
    }
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    &.align-center {
        align-items: center;
    }

    &.justify-center {
        justify-content: center;
    }
}
