.switch {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 8px;

    &__category-highlighter {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 44px;
        height: 4px;
        background-color: $primary-orange;
        border-radius: 2px;
        transition: all .3s;
    }

    &__category-wrapper {
        position: relative;
        display: flex;
        justify-content: center;
        margin-bottom: 4px;
        padding: 12px 32px 8px;
        border: #ededed 1px solid;
        border-radius: 40px;
        background-color: #fff;
        overflow-x: scroll;
        
        &::-webkit-scrollbar {
            display: none;
        }

        @media (max-width: 767px) {
            justify-content: start;
            width: 100%;
            margin-bottom: 0;
            padding: 12px 28px 8px;
            background-color: #f5f5f5;
            border-radius: 0;
            border-top: 0;
            border-right: 0;
            border-left: 0;
        }
    }

    &__category {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 6px;
        font-weight: 500;
        @include fs-16;
        color: #757575;
        transition: all .2s;
        cursor: pointer;

        @media (max-width: 767px) {
            @include fs-14;
        }

        &:not(:first-child) {
            margin-left: 48px;

            @media (max-width: 767px) {
                margin-left: 24px;
            }
        }

        &:hover {
            color: #0a0a0a;

            @media (max-width: 767px) {
                color: #757575;
            }

            i {
                background-image: url("@/assets/images/icon-category-default-hover.svg");

                @media (max-width: 767px) {
                    background-image: url("@/assets/images/icon-category-default.svg");
                }
            }

            i.icon-star {
                background-image: url("@/assets/images/icon-category-star-hover.svg");

                @media (max-width: 767px) {
                    background-image: url("@/assets/images/icon-category-star.svg");
                }
            }

            i.icon-food {
                background-image: url("@/assets/images/icon-category-food-hover.svg");

                @media (max-width: 767px) {
                    background-image: url("@/assets/images/icon-category-food.svg");
                }
            }

            i.icon-life {
                background-image: url("@/assets/images/icon-category-life-hover.svg");

                @media (max-width: 767px) {
                    background-image: url("@/assets/images/icon-category-life.svg");
                }
            }

            i.icon-book {
                background-image: url("@/assets/images/icon-category-book-hover.svg");

                @media (max-width: 767px) {
                    background-image: url("@/assets/images/icon-category-book.svg");
                }
            }

            i.icon-movie {
                background-image: url("@/assets/images/icon-category-movie-hover.svg");

                @media (max-width: 767px) {
                    background-image: url("@/assets/images/icon-category-movie.svg");
                }
            }

            i.icon-default {
                background-image: url("@/assets/images/icon-category-default-hover.svg");

                @media (max-width: 767px) {
                    background-image: url("@/assets/images/icon-category-default.svg");
                }
            }
        }

        &.active {
            font-weight: 600;
            color: #0a0a0a;

            i {
                background-image: url("@/assets/images/icon-category-default-hover.svg");
            }

            i.icon-star {
                background-image: url("@/assets/images/icon-category-star-hover.svg");
            }

            i.icon-food {
                background-image: url("@/assets/images/icon-category-food-hover.svg");
            }

            i.icon-life {
                background-image: url("@/assets/images/icon-category-life-hover.svg");
            }

            i.icon-book {
                background-image: url("@/assets/images/icon-category-book-hover.svg");
            }

            i.icon-movie {
                background-image: url("@/assets/images/icon-category-movie-hover.svg");
            }

            i.icon-default {
                background-image: url("@/assets/images/icon-category-default-hover.svg");
            }
        }

        i {
            width: 24px;
            height: 24px;
            background-image: url("@/assets/images/icon-category-default.svg");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            transition: all .2s;

            &.icon-star {
                background-image: url("@/assets/images/icon-category-star.svg");
            }

            &.icon-food {
                background-image: url("@/assets/images/icon-category-food.svg");
            }

            &.icon-life {
                background-image: url("@/assets/images/icon-category-life.svg");
            }

            &.icon-book {
                background-image: url("@/assets/images/icon-category-book.svg");
            }

            &.icon-movie {
                background-image: url("@/assets/images/icon-category-movie.svg");
            }

            &.icon-default {
                background-image: url("@/assets/images/icon-category-default.svg");
            }
        }
    }

    .filter-wrapper {
        display: flex;
        justify-content: center;

        @media (max-width: 767px) {
            padding: 12px 16px;
        }

        li {
            position: relative;
            padding: 8px 16px;
            font-weight: 500;
            @include fs-14;
            color: #616161;
            transition: all .3s;
            cursor: pointer;

            &:hover {
                color: $primary-orange;

                @media (max-width: 767px) {
                    color: #616161;
                }
            }

            &.active {
                color: $primary-orange;
            }

            &:not(:last-child) {
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 7px;
                    right: 0;
                    width: 1px;
                    height: 20px;
                    background-color: #ededed;
                }
            }
        }
    }
}
